.eyeDropper {
    width: 100%;
    height: 30px;
    border: 1px solid #d2d5dc;
    border-radius: 2px;
    box-sizing: border-box;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 6px;
}

.eyeDropper img {
    width: 18px;
    height: 18px;
}
