/**
 * @author huangrongfa
 * @date 2021-12-06 09:58
 * @since 0.0.0
 */

.angleHolder {
    display: flex;
    position: relative;
}

.angleInputs {
    display: flex;
    margin-left: 20px;
    border-radius: 4px;
    background: #f2f2f2;
    flex: 1;
    justify-content: space-around;
    align-items: center;
}

.angleInputs input {
    padding: 0;
    width: 48px;
    height: 38px;
    font-size: 16px;
    border: none;
    background: inherit;
    color: #0c0c09;
    text-align: center;
}

.angleInputs input[type='number']::-webkit-inner-spin-button,
.angleInputs input[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.angleInputs input[type='number'] {
    -moz-appearance: textfield;
}
.angleInputs input[type='number']:focus-visible {
    outline: 0;
}

.angleInputs span {
    line-height: 1;
    font-size: 20px;
    font-weight: 300;
    user-select: none;
    cursor: pointer;
}

.multipleColorPickerLayout :global(.palette) {
    border-radius: 4px;
    overflow: hidden;
}

.multipleColorPickerLayout :global(.rcp-saturation) {
    border-radius: 4px;
}

.multipleColorPickerLayout :global(.rcp-fields-element) {
    flex-direction: initial;
    align-items: initial;
    grid-gap: initial;
    gap: initial;
    width: initial;
}

.multipleColorPickerLayout :global(.rcp-body) {
    padding: 20px 0;
}

.multipleColorPickerLayout :global(.rcp-fields-element-label) {
    display: none;
}

.multipleColorPickerLayout :global(.rcp-fields-element-input) {
    border: 1px solid #d2d5dc;
    height: 40px;
    line-height: 40px;
    font-size: 16px;
    font-weight: initial;
}

.hasEyeDropper {
    position: relative;
}

.hasEyeDropper :global(.rcp-fields-element-input) {
    width: 80%;
}

.hasEyeDropper :global(.rcp-fields-element) {
    justify-content: end;
}

.eyeDropper {
    width: 40px;
    height: 40px;
    border: 1px solid #d2d5dc;
    border-radius: 5px;
    position: absolute;
    bottom: 20px;
    box-sizing: border-box;
    cursor: pointer;
}

.eyeDropper img {
    width: 60%;
    height: 60%;
    margin-left: 20%;
    margin-top: 20%;
}

.textarea {
    background-color: #f2f2f2;
    padding: 10px;
    border-radius: 4px;
    margin-top: 20px;
    box-sizing: border-box;
}

.textarea textarea {
    width: 100%;
    height: 100px;
    border: none;
    resize: none;
    box-sizing: border-box;
    background-color: #f2f2f2;
    font-size: 16px;
}

.textarea textarea:focus-visible {
    outline: 0;
}
